[Service]
ExecStart=/usr/local/bin/node main.js --usb
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-waterrower
User=pi
Group=pi
WorkingDirectory=/home/pi/waterrower-ble

[Install]
WantedBy=multi-user.target
